@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slide-up {
  from {
    margin-top: 50%;
    height: 300%; }
  to {
    margin-top: 0%;
    height: 100%; } }

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 100%; }
  to {
    margin-left: 0%;
    width: 30%; } }

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 6.5%;
    width: 100%; } }
