@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slide-up {
  from {
    margin-top: 50%;
    height: 300%; }
  to {
    margin-top: 0%;
    height: 100%; } }

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 100%; }
  to {
    margin-left: 0%;
    width: 30%; } }

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 6.5%;
    width: 100%; } }

.active {
  color: #f15922 !important; }

a {
  color: #f15922;
  text-decoration: none;
  font-size: 14px; }

a:hover {
  color: #ff4400;
  text-decoration: none; }

.bg-1 {
  background-color: #f7f7f7; }

p {
  font-family: "Roboto", sans-serif; }

::-webkit-input-placeholder {
  padding-left: 5px;
  font-size: 13px; }

.header {
  height: 85px;
  margin-top: -15px;
  opacity: 0.9;
  display: none; }
  .header ul {
    list-style-type: none;
    padding: 30px;
    text-align: right;
    padding-top: 40px;
    margin-right: 20px; }
    .header ul li {
      display: inline;
      position: relative;
      padding: 18px;
      font-size: 18px;
      padding: 15px;
      font-size: 18px;
      /* padding: 15px 3px; */
      letter-spacing: 1px;
      font-size: 13px;
      padding: 20px 15px;
      margin: 0 5px;
      font-family: 'Roboto', sans-serif;
      text-transform: capitalize;
      letter-spacing: 1px; }
      .header ul li a {
        font-size: 13px;
        color: #ffffff; }
        .header ul li a:hover {
          color: #f15922; }
      .header ul li a:active {
        font-family: 'Roboto', sans-serif;
        color: #f15922 !important; }
  .header .logo {
    position: absolute;
    width: 70px;
    margin-left: 45px; }
  .header .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform; }
  .header .hvr-grow-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 36px;
    width: 0%;
    height: 10%;
    background-color: #ff4400;
    transition: all 0.2s; }
  .header .hvr-grow-shadow:hover:after {
    width: 100%; }
  .header .hvr-grow-shadow:hover, .header .hvr-grow-shadow:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #f15922 !important; }

.header1 {
  height: 85px;
  margin-top: -15px;
  opacity: 0.9; }
  .header1 ul {
    list-style-type: none;
    padding: 30px;
    text-align: right;
    padding-top: 40px;
    margin-right: 20px; }
    .header1 ul li {
      display: inline;
      position: relative;
      padding: 18px;
      font-size: 18px;
      padding: 15px;
      font-size: 18px;
      /* padding: 15px 3px; */
      letter-spacing: 1px;
      font-size: 13px;
      padding: 20px 15px;
      margin: 0 5px;
      font-family: 'Roboto', sans-serif;
      text-transform: capitalize;
      letter-spacing: 1px; }
      .header1 ul li a {
        font-size: 13px;
        color: #ffffff; }
        .header1 ul li a:hover {
          color: #f15922; }
      .header1 ul li a:active {
        font-family: 'Roboto', sans-serif; }
  .header1 .logo {
    position: absolute;
    width: 70px;
    margin-left: 45px; }
  .header1 .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform; }
    .header1 .hvr-grow-shadow:after {
      content: '';
      position: absolute;
      left: 0;
      top: 36px;
      width: 0%;
      height: 10%;
      background-color: #ff4400;
      transition: all 0.2s; }
    .header1 .hvr-grow-shadow:hover:after {
      width: 100%; }
  .header1 .hvr-grow-shadow:hover, .header1 .hvr-grow-shadow:focus, .header1 .hvr-grow-shadow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #f15922; }

.mobileHeader {
  display: none; }

#header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08); }
  #header-fixed .logo {
    margin-top: 16px;
    width: 50px; }
  #header-fixed ul {
    padding: 20px;
    margin-right: 40px; }
  #header-fixed a {
    color: #656565; }
    #header-fixed a:hover {
      color: #f15922; }

.mobilemenu {
  display: none !important; }

.lander {
  background: url("../img/markthal.png") no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;
  margin-top: -86px;
  z-index: -1; }
  .lander .lander-text {
    position: absolute;
    margin-top: 340px;
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    /* color: #585858; */
    font-weight: 300;
    line-height: 25px;
    padding: -8px;
    letter-spacing: 1px; }
  .lander .lander-text1 {
    position: absolute;
    margin-top: 390px;
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    /* color: #585858; */
    font-weight: 300;
    line-height: 25px;
    padding: -8px;
    letter-spacing: 1px; }
  .lander .button {
    margin: .4em;
    padding: 0.8em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: transparent;
    margin-top: 440px;
    margin-left: 594px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 25px; }
  .lander .hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .lander .hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f15922;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .lander .hvr-sweep-to-bottom:hover, .lander .hvr-sweep-to-bottom:focus, .lander .hvr-sweep-to-bottom:active {
    color: white; }
  .lander .hvr-sweep-to-bottom:hover:before, .lander .hvr-sweep-to-bottom:focus:before, .lander .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }

.concept {
  height: 550px;
  padding-top: 100px; }
  .concept .centered {
    text-align: center;
    display: none; }
  .concept .text1-animation {
    animation: fadein 2s;
    display: block; }
  .concept .boxes {
    margin-left: 194px;
    margin-top: 70px; }
    .concept .boxes .box1 {
      width: 200px;
      text-align: center;
      text-transform: uppercase;
      color: #514f4f;
      position: absolute;
      display: none; }
      .concept .boxes .box1:hover {
        color: #f15922; }
    .concept .boxes .box1-animation {
      animation: slide-right 1s;
      display: block !important; }
    .concept .boxes .box2 {
      width: 200px;
      text-align: center;
      text-transform: uppercase;
      color: #514f4f;
      position: absolute;
      margin-left: 340px;
      margin-top: 0px;
      display: none; }
      .concept .boxes .box2:hover {
        color: #f15922; }
    .concept .boxes .box3 {
      width: 200px;
      text-align: center;
      text-transform: uppercase;
      color: #514f4f;
      position: absolute;
      margin-left: 600px;
      display: none; }
      .concept .boxes .box3:hover {
        color: #f15922; }
    .concept .boxes .box3-animation {
      animation: slide-left 1s;
      display: block !important; }
    .concept .boxes h3 {
      color: #f15922;
      font-family: "Roboto", sans-serif;
      letter-spacing: 2px !important; }
    .concept .boxes p {
      text-transform: none !important; }
  .concept h2 {
    font-family: 'Roboto', sans-serif;
    color: #f15922;
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase; }
  .concept hr {
    width: 5%;
    border-color: #f15922;
    border-top: #f15922; }
  .concept p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.features {
  height: 550px;
  padding-top: 100px; }
  .features h2 {
    font-family: 'Roboto', sans-serif;
    color: #f15922;
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center; }
  .features p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .features hr {
    width: 5%;
    border-color: #f15922;
    border-top: #f15922; }
  .features .img-left {
    width: 100%;
    text-align: center; }
  .features .text1 {
    display: none; }
  .features .text1-animation {
    animation: fadein 2s;
    display: block; }

.feedback-img {
  width: 416px;
  margin-left: 585px;
  text-align: center;
  display: none;
  margin-top: -190px; }

.feedback-img-animation {
  animation: 1.2s slide-up;
  display: block !important; }

.team {
  height: 500px;
  padding-top: 100px; }
  .team .team__title {
    font-family: 'Roboto', sans-serif;
    color: #f15922;
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center; }
  .team .team__title:after {
    content: '';
    width: 100%;
    height: 5px;
    color: #f15922;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .team p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .team hr {
    width: 5%;
    border-color: #f15922;
    border-top: #f15922;
    margin-bottom: 2em; }
  .team .team_item {
    width: calc((100% / 4) - 10px); }
    .team .team_item img {
      transition: all 0.5s ease-in-out; }
  .team .team_item:hover img {
    margin-top: -50px;
    transition: all 0.5s ease-in-out; }
  .team .team_box__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
  .team .team_box {
    background-color: #f7f7f7;
    border: 1px solid rgba(244, 244, 244, 0.1);
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .team .team_box p {
      padding: 15px; }
    .team .team_box h5 {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: #585858;
      font-weight: 400; }
  .team .team_box img {
    height: 125px;
    margin-bottom: 15px; }
  .team .img-rounded {
    border-radius: 6px; }
  .team .marv {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 100px !important;
    margin-top: 15px;
    padding-bottom: 10px; }

.statistics {
  padding-top: 65px; }
  .statistics div#container {
    width: 100%;
    height: 589px;
    overflow: hidden;
    overflow-x: hidden;
    -webkit-resize: vertical;
    -moz-resize: vertical;
    resize: vertical;
    min-height: 317px; }
  .statistics iframe#embed {
    width: 132%;
    height: 2000px;
    margin-left: -183px;
    margin-top: -190px;
    overflow: hidden;
    -webkit-resize: none;
    -moz-resize: none;
    resize: none; }

.contact {
  height: 550px;
  padding-top: 63px; }
  .contact .contactForm {
    margin-left: 180px;
    width: 570px;
    position: absolute; }
    .contact .contactForm h2 {
      font-family: 'Roboto', sans-serif;
      color: #585858;
      font-size: 27px;
      font-weight: 400;
      line-height: 25px;
      text-transform: capitalize;
      padding-top: 50px; }
    .contact .contactForm #name {
      width: 48%;
      height: 39px;
      border-color: transparent;
      background-color: #e1e1e1;
      font-size: 13px; }
    .contact .contactForm #email {
      width: 48%;
      height: 39px;
      border-color: transparent;
      background-color: #e1e1e1;
      font-size: 13px; }
    .contact .contactForm #message {
      border-color: transparent;
      background-color: #e1e1e1;
      font-size: 13px; }
    .contact .contactForm input:focus, .contact .contactForm textarea:focus, .contact .contactForm keygen:focus, .contact .contactForm select:focus {
      outline-offset: -2px; }
    .contact .contactForm :focus {
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: #f15922 !important;
      outline-style: auto;
      outline-width: 5px; }
    .contact .contactForm .button {
      margin: .4em;
      padding: 1em;
      cursor: pointer;
      background: #e1e1e1;
      text-decoration: none;
      color: #666;
      -webkit-tap-highlight-color: transparent;
      margin-left: 468px; }
    .contact .contactForm .hvr-sweep-to-right {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      font-weight: 300;
      line-height: 25px;
      font-family: roboto, 'sans-serif'; }
    .contact .contactForm .hvr-sweep-to-right:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f15922;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      font-weight: 300;
      line-height: 25px;
      font-family: roboto, 'sans-serif'; }
    .contact .contactForm .hvr-sweep-to-right:hover, .contact .contactForm .hvr-sweep-to-right:focus, .contact .contactForm .hvr-sweep-to-right:active {
      color: white; }
    .contact .contactForm .hvr-sweep-to-right:hover:before, .contact .contactForm .hvr-sweep-to-right:focus:before, .contact .contactForm .hvr-sweep-to-right:active:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .contact .adres {
    position: absolute;
    margin-left: 800px; }
    .contact .adres h2 {
      font-family: 'Roboto', sans-serif;
      color: #585858;
      font-size: 27px;
      font-weight: 400;
      line-height: 25px;
      text-transform: capitalize;
      padding-top: 50px; }
    .contact .adres p {
      color: #585858;
      font-weight: 300;
      line-height: 25px; }

.footer {
  margin-top: 200px;
  height: 85px;
  background-color: #222;
  opacity: 0.9; }
  .footer .copyright {
    color: white;
    padding-top: 45px;
    font-family: 'Lato', sans-serif;
    padding-left: 100px;
    border-top: 2px;
    font-size: 14px; }
  .footer .scrollTop {
    position: absolute;
    margin-top: -130px;
    width: 4%;
    margin-left: 850px; }
    .footer .scrollTop:hover {
      opacity: 0.9; }

@media (min-width: 320px) and (max-width: 667px) {
  html, body {
    padding-top: 0px !important;
    margin-left: 0px; }
  .header {
    display: none !important; }
  .header1 {
    display: none !important; }
  .logo {
    position: absolute;
    width: 39px;
    margin-top: 7px;
    margin-left: 10px;
    z-index: 1; }
  .mobilemenu {
    color: #f15922;
    padding: 18px;
    display: block !important;
    z-index: 1;
    float: right; }
  .mobileHeader {
    margin-top: -15px;
    opacity: 0.9;
    width: 100%;
    height: 64px;
    background-color: white;
    position: fixed;
    display: block; }
    .mobileHeader .content {
      margin-top: 59px;
      width: 100%;
      height: 270px;
      background-color: white;
      display: none; }
    .mobileHeader ul {
      list-style-type: none;
      padding: 30px;
      text-align: left;
      padding-top: 40px;
      margin-right: 20px;
      margin-top: -30px; }
      .mobileHeader ul li {
        display: block;
        position: relative;
        padding: 18px;
        font-size: 18px;
        padding: 15px;
        font-size: 18px;
        /* padding: 15px 3px; */
        letter-spacing: 1px;
        font-size: 13px;
        padding: 20px 15px;
        margin: 0 5px;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        letter-spacing: 1px; }
        .mobileHeader ul li a {
          font-size: 13px;
          color: #333; }
          .mobileHeader ul li a:hover {
            color: #f15922; }
        .mobileHeader ul li a:active {
          font-family: 'Roboto', sans-serif;
          color: #f15922 !important; }
  .lander {
    background: url("../img/markthal.png") no-repeat center;
    background-size: cover;
    height: 114%;
    position: absolute;
    width: 100%;
    margin-top: -86px;
    z-index: -1; }
  .feedback-img-animation {
    animation: none; }
  .concept .text1-animation {
    margin-top: 637px;
    animation: none; }
  .concept .boxes {
    margin-left: 57px !important;
    margin-top: 0px !important; }
    .concept .boxes .box1 {
      margin-left: 24px !important; }
    .concept .boxes .box1-animation {
      animation: none; }
    .concept .boxes .box3-animation {
      animation: none; }
    .concept .boxes .box2 {
      margin-top: 160px !important;
      margin-left: 24px !important; }
    .concept .boxes .box3 {
      margin-top: 360px !important;
      margin-left: 24px !important; }
  .features {
    height: 550px;
    margin-top: 840px; }
  .img-left {
    text-align: center;
    width: 100% !important; }
  .feedback-img {
    width: 260px !important;
    margin-left: 50px !important;
    margin-top: 220px;
    text-align: center;
    display: none; }
  .team {
    height: auto; }
    .team .team_box__container {
      flex-direction: column; }
    .team .team_item {
      width: calc((100% / 1));
      padding-bottom: 22px; }
  .contact {
    margin-top: 0px; }
    .contact .contactForm {
      margin-left: 2px;
      width: 97%; }
      .contact .contactForm #name {
        width: 93% !important; }
      .contact .contactForm #email {
        width: 93% !important;
        margin-top: 17px !important; }
      .contact .contactForm #message {
        width: 94% !important; }
    .contact .button {
      margin-left: 0px !important; }
    .contact .adres {
      margin-top: 390px !important;
      margin-left: 0px !important; }
  .footer {
    margin-top: 540px !important;
    margin-left: -8px !important;
    width: 105% !important; }
    .footer .copyright {
      padding-left: 0px !important; }
    .footer .scrollTop {
      position: absolute;
      margin-top: -130px;
      width: 15%;
      margin-left: 22px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  p {
    font-family: "Roboto", sans-serif; }
  .lander {
    background: url("../img/markthal.png") no-repeat center;
    background-size: cover;
    height: 114%;
    position: absolute;
    width: 100%;
    margin-top: -86px;
    z-index: -1; }
  .feedback-img {
    width: 306px;
    margin-left: 445px !important;
    text-align: center;
    display: none;
    margin-top: -220px;
    animation: none; }
  .concept {
    height: 300px; }
    .concept .text1-animation {
      margin-top: 749px;
      animation: none; }
    .concept .boxes {
      margin-left: 0px !important;
      margin-top: 80px !important; }
      .concept .boxes .box1 {
        margin-left: 0px !important; }
      .concept .boxes .box1-animation {
        animation: none; }
      .concept .boxes .box3-animation {
        animation: none; }
      .concept .boxes .box2 {
        margin-left: 284px !important; }
      .concept .boxes .box3 {
        margin-left: 557px !important; }
  .features {
    height: 550px;
    margin-top: 1000px; }
  .img-left {
    text-align: center;
    width: 100%; }
  .team .team_item {
    width: calc((100% / 2) - 10px);
    padding-bottom: 26px; }
  .team .team_box__container {
    flex-wrap: wrap; }
  .footer {
    margin-top: 540px !important;
    margin-left: -8px !important;
    width: 105% !important; }
    .footer .copyright {
      padding-left: 0px !important; }
    .footer .scrollTop {
      position: absolute;
      margin-top: -130px;
      width: 10% !important;
      margin-left: 400px !important; }
  .contact {
    margin-top: 420px; }
    .contact .contactForm {
      margin-left: 2px;
      width: 97%; }
      .contact .contactForm #name {
        width: 93% !important; }
      .contact .contactForm #email {
        width: 93% !important;
        margin-top: 17px !important; }
      .contact .contactForm #message {
        width: 94% !important; }
    .contact .button {
      margin-left: 0px !important; }
    .contact .adres {
      margin-top: 390px !important;
      margin-left: 0px !important; } }

@media (min-width: 64em) {
  .img-left {
    text-align: center;
    width: 896px !important;
    margin-left: 193px; }
  .feedback-img {
    width: 416px;
    margin-left: 595px !important;
    text-align: center;
    display: none;
    margin-top: -190px; } }

@media (min-width: 70em) {
  body {
    background-color: white;
    margin: 0px !important; }
  .concept .boxes .box1 {
    margin-left: 94px; }
  .concept .boxes .box2 {
    margin-left: 355px; }
  .concept .boxes .box3 {
    margin-left: 620px; } }

.green {
  color: green; }

#kenmerk {
  margin-top: 50px; }

.img-ani {
  margin-top: -190px; }
