@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width : 768px) and (max-width : 1024px)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (min-width : 320px) and (max-width : 667px)  { @content ; }
 }
}
@keyframes fadein {
from { opacity: 0}
to   { opacity: 1}
}

@keyframes slide-up {
  from {
    margin-top: 50%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 30%;
  }
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 6.5%;
    width: 100%;
  }
}
