@import 'base';
@import 'mixins';

$primary-color: #f15922;
$hover-color: #ff4400;
$standard-font: 'Roboto', sans-serif;
$teamBoxPadding: 10px;


.active {
  color:$primary-color !important;
}

a
{
   color:$primary-color;
   text-decoration: none;
   font-size: 14px;
}

a:hover
{
   color:$hover-color;
   text-decoration: none;
}

.bg-1
{
  background-color: #f7f7f7;
}

p
{
  font-family: $standard-font;
}

::-webkit-input-placeholder {
   padding-left: 5px;
     font-size:13px;
}

.header
{
  height: 85px;
  margin-top: -15px;
  opacity: 0.9;
  display: none;

  ul
  {
    list-style-type: none;
    padding: 30px;
    text-align: right;
    padding-top: 40px;
    margin-right: 20px;

    li
    {
      display: inline;
      position: relative;
      padding: 18px;
      font-size: 18px;
      padding: 15px;
      font-size: 18px;
      /* padding: 15px 3px; */
      letter-spacing: 1px;
      font-size: 13px;
      padding: 20px 15px;
      margin: 0 5px;
      font-family: 'Roboto', sans-serif;
      text-transform: capitalize;
      letter-spacing: 1px;

      a
      {
        font-size:13px;
        color:#ffffff;

        &:hover
        {
          color:$primary-color;
        }
      }
      a:active
      {
        font-family: 'Roboto', sans-serif;
        color:$primary-color!important;

      }

    }
  }

  .logo
  {
    position: absolute;
    width: 70px;
    margin-left: 45px;
  }
  .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;


}
.hvr-grow-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 36px;
    width: 0%;
    height: 10%;
    background-color: #ff4400;
    transition: all 0.2s;
}

.hvr-grow-shadow:hover:after {
  width: 100%;
}

  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color:$primary-color!important;
  }
}

.header1
{
  height: 85px;
  margin-top: -15px;
  opacity: 0.9;


  ul
  {
    list-style-type: none;
    padding: 30px;
    text-align: right;
    padding-top: 40px;
    margin-right: 20px;

    li
    {
      display: inline;
      position: relative;
      padding: 18px;
      font-size: 18px;
      padding: 15px;
      font-size: 18px;
      /* padding: 15px 3px; */
      letter-spacing: 1px;
      font-size: 13px;
      padding: 20px 15px;
      margin: 0 5px;
      font-family: 'Roboto', sans-serif;
      text-transform: capitalize;
      letter-spacing: 1px;

      a
      {
        font-size:13px;
        color:#ffffff;

        &:hover
        {
          color:$primary-color;
        }
      }
      a:active
      {
        font-family: 'Roboto', sans-serif;

      }

    }
  }

  .logo
  {
    position: absolute;
    width: 70px;
    margin-left: 45px;
  }
  .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;



    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 36px;
      width: 0%;
      height: 10%;
      //border-bottom: 2px solid #ff4400;
      background-color: #ff4400;
      transition: all 0.2s;
    }

    &:hover:after {
      width: 100%;
    }
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color:$primary-color;

  }

}

.mobileHeader
{
  display: none;
}
#header-fixed
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);

  .logo
  {
    margin-top: 16px;
    width: 50px;
  }

  ul
  {
    padding:20px;
    margin-right: 40px;
  }
  a
  {
    color: #656565;

    &:hover
    {
      color:$primary-color;
    }
  }
}

.mobilemenu
{
  display:none!important;
}
.lander
{
    // background: url('../img/markthal.png') center center cover no-repeat fixed;
    background: url('../img/markthal.png') no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    width: 100%;
    margin-top: -86px;
    z-index: -1;




  .lander-text
  {
    position: absolute;
    margin-top: 340px;
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    /* color: #585858; */
    font-weight: 300;
    line-height: 25px;
    padding: -8px;
    letter-spacing: 1px;

  }
  .lander-text1
  {
    position: absolute;
    margin-top: 390px;
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    /* color: #585858; */
    font-weight: 300;
    line-height: 25px;
    padding: -8px;
    letter-spacing: 1px;

  }

  .button
  {
    margin: .4em;
    padding: 0.8em;;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 440px;
    margin-left: 594px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 25px;
  }

  .hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary-color;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

}

.concept
{
  height: 550px;
  padding-top: 100px;

  .centered
  {
    text-align: center;
    display:none;
  }

  .text1-animation
  {
    animation: fadein 2s;
    display: block;
  }

  .boxes
  {
    margin-left: 194px;
    margin-top: 70px;

    .box1
    {
      width: 200px;
      text-align: center;
      text-transform: uppercase;
      color:#514f4f;
      position: absolute;
      display: none;

      &:hover
      {
        color:$primary-color;
      }
    }

    .box1-animation
    {
        animation: slide-right 1s;
        display: block !important;
    }

    .box2
    {
      width: 200px;
      text-align: center;
      text-transform: uppercase;
      color:#514f4f;
      position: absolute;
      margin-left: 340px;
      margin-top: 0px;
      display: none;

      &:hover
      {
        color:$primary-color;
      }
    }

    .box3
    {
      width: 200px;
      text-align: center;
      text-transform: uppercase;
      color:#514f4f;
      position: absolute;
      margin-left: 600px;
      display: none;

      &:hover
      {
        color:$primary-color;
      }
    }
    .box3-animation
    {
      animation: slide-left 1s;
      display: block !important;
    }



    h3
    {
      color:$primary-color;
      font-family: $standard-font;
      letter-spacing: 2px !important;
    }

    p
    {
      text-transform: none!important;
    }
  }

  h2
  {
    font-family: 'Roboto', sans-serif;
    color:$primary-color;
    font-size:32px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
  }

  hr
  {
    width: 5%;
    border-color: $primary-color;
    border-top: $primary-color;
  }

  p
  {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}
.features
{
  height: 550px;
  padding-top: 100px;

  h2
  {
    font-family: 'Roboto', sans-serif;
    color:$primary-color;
    font-size:32px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
  }

  p
  {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  hr
  {
    width: 5%;
    border-color: $primary-color;
    border-top: $primary-color;
  }

  .img-left
  {
    width: 100%;
    text-align: center;


  }
  .text1
  {
    display: none;
  }
  .text1-animation
  {
    animation: fadein 2s;
    display: block;
  }
}

.feedback-img
{
  width: 416px;
  margin-left: 585px;
  text-align:center;
  display: none;
  margin-top: -190px;
}
.feedback-img-animation
{
  animation: 1.2s slide-up;
  display: block!important;
}


.team
{
  height: 500px;
  padding-top: 100px;

  .team__title {
    font-family: 'Roboto', sans-serif;
    color:$primary-color;
    font-size:32px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
  }
  .team__title:after {
    content:'';
    width:100%;
    height:5px;
    color:$primary-color;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
  }

  p
  {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  hr
  {
    width: 5%;
    border-color: $primary-color;
    border-top: $primary-color;
    margin-bottom: 2em;
  }

  .team_item {

      width: calc((100% / 4) - #{$teamBoxPadding});

      img
      {
        transition: all 0.5s ease-in-out;
      }
  }

  .team_item:hover {

    img
    {
      margin-top: -50px;
      transition: all 0.5s ease-in-out;
    }

  }


  .team_box__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

  }
  .team_box {
      background-color: #f7f7f7;
      border: 1px solid rgba(244, 244, 244, 0.100);
      text-align: center;
      border-radius: 3px;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;

      p
      {
        padding: 15px;
      }
      h5
      {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        color: #585858;
        font-weight: 400;
      }



    }
    .team_box img {
        height: 125px;
        margin-bottom: 15px;
    }

    .img-rounded {
        border-radius: 6px;
    }
    .marv
    {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      height: 100px!important;
      margin-top: 15px;
      padding-bottom: 10px;
    }
  }
.statistics
{
  padding-top: 65px;

  div#container
  {
      width:100%;
      height:589px;
      overflow:hidden;
      overflow-x:hidden;


      -webkit-resize:vertical;
      -moz-resize:vertical;
      resize:vertical;
      min-height:317px;
  }

  iframe#embed
  {
      width:132%;
      height:2000px;
      margin-left:-183px;
      margin-top:-190px;
      overflow:hidden;


      -webkit-resize:none;
      -moz-resize:none;
      resize:none;
  }

}
.contact
{
  height: 550px;
  padding-top: 63px;


  .contactForm
  {
    margin-left: 180px;
    width: 570px;
    position: absolute;

    h2
    {
      font-family: 'Roboto', sans-serif;
      color:#585858;
      font-size:27px;
      font-weight: 400;
      line-height: 25px;
      text-transform: capitalize;
      padding-top: 50px;
    }

    #name
    {
      width: 48%;
      height: 39px;
      border-color: transparent;
      background-color: #e1e1e1;
      font-size:13px;
    }
    #email
    {
      width: 48%;
      height: 39px;
      border-color: transparent;
      background-color: #e1e1e1;
      font-size:13px;
    }
    #message
    {
      border-color: transparent;
      background-color: #e1e1e1;
      font-size:13px;
    }

    input:focus, textarea:focus, keygen:focus, select:focus {
        outline-offset: -2px;
    }
    :focus {
        outline: -webkit-focus-ring-color auto 5px;
        outline-color: $primary-color!important;
        outline-style: auto;
        outline-width: 5px;
    }
    .button
    {
      margin: .4em;
      padding: 1em;
      cursor: pointer;
      background: #e1e1e1;
      text-decoration: none;
      color: #666;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin-left: 468px;
    }
    .hvr-sweep-to-right {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      font-weight: 300;
      line-height: 25px;
      font-family: roboto, 'sans-serif';
      }
      .hvr-sweep-to-right:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $primary-color;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      font-weight: 300;
      line-height: 25px;
      font-family: roboto, 'sans-serif';
      }
      .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
      color: white;
      }
      .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      }
  }

  .adres
  {
    position: absolute;
    margin-left: 800px;

    h2
    {
      font-family: 'Roboto', sans-serif;
      color:#585858;
      font-size:27px;
      font-weight: 400;
      line-height: 25px;
      text-transform: capitalize;
      padding-top: 50px;
    }

    p
    {
      color: #585858;
      font-weight: 300;
      line-height: 25px;
    }
  }
}
.footer
{
  margin-top:200px;
  height: 85px;
  background-color:#222;
  opacity: 0.9;

  .copyright
  {
    color:white;
    padding-top: 45px;
    font-family: 'Lato', sans-serif;
    padding-left: 100px;
    border-top: 2px;
    font-size: 14px;
  }

  .scrollTop
  {
    position: absolute;
    margin-top: -130px;
    width: 4%;
    margin-left: 850px;

    &:hover
    {
      opacity: 0.9;
    }
  }

}

@include breakpoint(mobileonly) {
  html, body {
    padding-top: 0px!important;
    margin-left: 0px;

  }


  .header
  {
    display:none!important;
  }
  .header1
  {
    display: none!important;
  }
  .logo
  {
    position: absolute;
    width: 39px;
    margin-top: 7px;
    margin-left: 10px;
    z-index: 1;
  }
  .mobilemenu
  {
    color: $primary-color;
    padding: 18px;
    display: block!important;
    z-index: 1;
    float: right;

  }

  .mobileHeader
  {
    margin-top: -15px;
    opacity: 0.9;
    width: 100%;
    height: 64px;
    background-color: white;
    position: fixed;
    display: block;


    .content
    {
       margin-top: 59px;
       width: 100%;
       height: 270px;
       background-color: white;
       display:none;
    }

    ul
    {
      list-style-type: none;
      padding: 30px;
      text-align: left;
      padding-top: 40px;
      margin-right: 20px;
      margin-top: -30px;

      li
      {
        display: block;
        position: relative;
        padding: 18px;
        font-size: 18px;
        padding: 15px;
        font-size: 18px;
        /* padding: 15px 3px; */
        letter-spacing: 1px;
        font-size: 13px;
        padding: 20px 15px;
        margin: 0 5px;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        letter-spacing: 1px;

        a
        {
          font-size:13px;
          color:#333;

          &:hover
          {
            color:$primary-color;
          }
        }
        a:active
        {
          font-family: 'Roboto', sans-serif;
          color:$primary-color!important;

        }

      }
  }
}

  .container
  {
  }
  .lander
  {
    background: url('../img/markthal.png') no-repeat center;
    background-size: cover;
    height: 114%;
    position: absolute;
    width: 100%;
    margin-top: -86px;
    z-index: -1;
  }
  .feedback-img-animation
  {
    animation: none;
  }
  .concept
  {
    .text1-animation
    {
      margin-top: 637px;
      animation: none;
    }
    .boxes
    {
      margin-left: 57px!important;
      margin-top: 0px!important;

      .box1
      {
        margin-left: 24px!important;
      }

      .box1-animation
      {
        animation: none;
      }

      .box3-animation
      {
        animation: none;
      }

      .box2
      {
        margin-top: 160px!important;
        margin-left: 24px!important;
      }
      .box3
      {
        margin-top: 360px!important;
        margin-left: 24px!important;
      }
    }
  }
  .features {
    height: 550px;
    margin-top: 840px;

    }
    .img-left {
    text-align: center;
    width: 100%!important;

    }

    .feedback-img {
    width: 260px !important;
    margin-left: 50px !important;
    margin-top: 220px;
    text-align: center;
    display: none;
    }
    .team
    {
      height:auto;
      .team_box__container
      {
        flex-direction: column;
      }

      .team_item
      {
        width: calc((100% / 1));
        padding-bottom: 22px;

      }
    }
    .contact
    {
      margin-top: 0px;

      .contactForm
      {
        margin-left: 2px;
        width: 97%;

        #name
        {
          width: 93%!important;
        }
        #email
        {
          width: 93%!important;
          margin-top: 17px !important;

        }
        #message
        {
          width: 94%!important;
        }
      }
      .button
      {
        margin-left: 0px!important
      }
      .adres
      {
        margin-top: 390px!important;
        margin-left: 0px!important;
      }
    }
    .footer
    {
      margin-top: 540px!important;
      margin-left: -8px!important;
      width: 105%!important;

      .copyright
      {
            padding-left: 0px!important;
      }
      .scrollTop
      {
        position: absolute;
        margin-top: -130px;
        width: 15%;
        margin-left: 22px;
      }
    }




  }

@include breakpoint(laptop) {
  body{

  }

}
@include breakpoint(tablet) {
  body{


  }
  p
  {
    font-family: $standard-font;
  }

  .lander
  {
    background: url('../img/markthal.png') no-repeat center;
    background-size: cover;
    height: 114%;
    position: absolute;
    width: 100%;
    margin-top: -86px;
    z-index: -1;
  }


  .header
  {
  }
  .header1
  {
  }
  .feedback-img {
    width: 306px;
    margin-left: 445px !important;
    text-align: center;
    display: none;
      margin-top: -220px;
    animation: none;
  }
  .concept
  {
        height: 300px;
    .text1-animation
    {
      margin-top: 749px;
      animation: none;
    }
    .boxes
    {
      margin-left: 0px !important;
      margin-top: 80px !important;

      .box1
      {
        margin-left: 0px !important;
      }

      .box1-animation
      {
        animation: none;
      }

      .box3-animation
      {
        animation: none;
      }

      .box2
      {
        margin-left: 284px !important;

      }
      .box3
      {
        margin-left: 557px !important;

      }
    }
  }
  .features {
    height: 550px;
    margin-top: 1000px;
    }
    .img-left {
    text-align: center;
    width: 100%;

    }

    .team
    {
      .team_item
      {
        width: calc((100% / 2) - 10px);
                  padding-bottom: 26px;
      }
      .team_box__container
      {
        flex-wrap: wrap;

      }
    }
    .wrap
    {


    }
    .footer
    {
      margin-top: 540px!important;
      margin-left: -8px!important;
      width: 105%!important;

      .copyright
      {
            padding-left: 0px!important;
      }
      .scrollTop
      {
        position: absolute;
        margin-top: -130px;
        width: 10% !important;
        margin-left: 400px !important;
      }

    }

    .contact
    {
      margin-top: 420px;

      .contactForm
      {
        margin-left: 2px;
        width: 97%;

        #name
        {
          width: 93%!important;
        }
        #email
        {
          width: 93%!important;
          margin-top: 17px !important;

        }
        #message
        {
          width: 94%!important;
        }
      }
      .button
      {
        margin-left: 0px!important;
      }
      .adres
      {
        margin-top: 390px!important;
        margin-left: 0px!important;
      }
    }

}

@include breakpoint(phablet) {
  body{

    .concept
    {
      .boxes
      {
        .box1
        {
          margin-left: -160px!important;
        }
        .box2
        {
          margin-left: 70px;
        }
        .box3
        {
          margin-left: 310px;
        }
      }
    }
    .contact
    {
      .contactForm
      {
        margin-left: 0px;
        width: 400px;

        textarea
        {
          width: 99%;
        }

        .button
        {
          margin-left: 310px;
        }
      }

      .adres
      {
        margin-left: 453px;
      }

    }
    .footer
    {
      .scrollTop
      {
        width: 6%;
        margin-left: 462px;
      }

      .copyright
      {
        padding-left: 0px!important;
      }
    }
  }

}

@include breakpoint(laptop) {
  body{

  }
  .img-left
  {
    text-align: center;
    width: 896px!important;
    margin-left: 193px;

  }
  .feedback-img {
    width: 416px;
    margin-left: 595px !important;
    text-align: center;
    display: none;
    margin-top: -190px;

  }

  .concept
  {

  }

}

@include breakpoint(desktop) {
  body{
    background-color: white;
    margin:0px!important;
  }

  .concept
  {
    .boxes
    {
      .box1
      {
        margin-left: 94px;
      }
      .box2
      {
        margin-left: 355px;
      }
      .box3
      {
        margin-left: 620px;
      }
    }
  }

}

.green
{
  color:green;
}

#kenmerk
{
  margin-top:50px;
}

.img-ani {
    margin-top: -190px;
}
